/* Menu */
.mobile-container {
    width: 100%;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {  
    position: relative;
    width: 100%;    
  }

  .topnav #myLinks {background-color:#4CAF50;
    display: none;    
    width: 100%;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
/* General */
body{
    background: black;
}
a{
    color: whitesmoke;
    text-decoration: none;  
}
/* Header*/

header{display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4CAF50;
   }

/* Contenido de las imagenes de los 4 html */
.contenidos{display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);

    
}
.img-contenido{
    border:2px solid gray; 
    
}
/* carrousel */
.lista{
    box-sizing: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.item{
    width: 15%;
    margin: 10px;
    border: 2px solid gray;
}
/* buscador */
.buscador{
    margin: 20px;
    width: 40%;
    
}
.buscador form{
    display: block;
    margin: 20px;
   

}
.buscador form input{
    width: 80%;
    background-color: #5b5458;
    padding: 10px;
    border-radius: 10px;
    border:none;
    color: white;
    height: 45px;
}
.buscador form button{
    color: white;
    background-color: #696265;
    padding: 10px;
    border-radius: 10px;
    border:none;
    height: 45px;
}

/* Botones */
.view{
    padding:15px 32px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    color:#000;    
    }
.botones{
    margin-top: 30px;
    }
    


/* Titulo como separadores*/

.separadores{display:flex;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    font-size: 30px; 
}
.titulo{
    border-bottom: double 3px grey;
    color:whitesmoke;         
    }
/* OTROS */

.titulofuturo{border-bottom: double 3px grey;
    color:whitesmoke; 
    cursor: pointer;
}

.img-banner{
    width: 80%;
    display: block;
    margin: auto;
}
.img-ambos{
    width: 100%;
}
/* Agregado de detail */
.detalle{display: grid;
    grid-template-columns: 1fr;
}
.imgdetail{
    padding: 5%
}
.info{display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    padding: 2%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace; 
}

/* footer */

    .desktop{
        width: 100%;
        box-sizing: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        padding-bottom: 15px;
    }
    .desktop .nombres li:last-child{
        border-right: none;
    }
    .desktop .logo{
        width: 15%;
    }
    .desktop .logo .logo-footer{
        width: 80%;
    }
    .desktop .digital{
        margin: 20px;
        font-size: 25px;

    }
    .desktop .nombres {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .desktop .nombres li  {
        margin: 5px;
        padding: 3px 20px;
        border-right: 2px solid white;
        text-transform: capitalize;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .desktop .nombres li a{
        text-decoration: none;
        color: white;
        transition: background-color .5s;
    }
    .desktop .nombres li a:hover {
        background-color: rgb(125, 0, 0);
        text-transform: capitalize;
      }
    footer .movie{
        width: 15%;
    }
    footer .movie .logo-movie{
        width: 45%;
        float: right;
    }
    

/* Responsive design */
@media(min-width:420px){
.contenidos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width:768px){
.contenidos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 
    }
.active{display: none!important;}
#myLinks{
    display:flex!important;
    justify-content: space-around!important;
    align-items: center;
    height: 100%;
}
.topnav{
    height: 100%;
}
.icon{display:none!important;}
}

@media(min-width:1024px){
.contenidos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   
   }
.active{display: none!important;}
#myLinks{
    display:flex!important;
    justify-content: space-around!important;
    align-items: center;
    height: 100%;
}
.topnav{
    height: 100%;
}
.icon{display:none!important;}     
footer{color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin-top: 20px;
    }
.footerizquierda{display: flex;
        flex-direction: row;    
    }
.listasfinal{display: flex;
        flex-direction: column;
    }
.detalle{display: grid;
        grid-template-columns: 1fr 2fr;
    }
}