/* Menu */
.mobile-container {
    width: 100%;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {  
    position: relative;
    width: 100%;    
  }

  .topnav #myLinks {background-color:#4CAF50;
    display: none;    
    width: 100%;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
/* General */
body{
    background: black;
}
a{
    color: whitesmoke;
    text-decoration: none;  
}



/* Header*/

header{display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4CAF50;
   }

/* Contenido de las imagenes de los 4 html */
.contenidos{display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
   
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);
    

    
}
.img-contenido{
    border:2px solid gray; 
    
    }
.img-ambos:hover{
    transform: scale(1.5);

}
/* carrousel */
.lista-peliculas{
    box-sizing: 100%;
    width: 100%;
    display: flex;
    flex-direction:row     !important; 
    align-items: center  !important;
    gap: 4px; 

    
}
.lista-series{
    box-sizing: 100%;
    width: 100%;
    display: flex;
    flex-direction:row     !important; 
    align-items: center  !important;
    gap: 4px; 

    
}

.lista-todas{
    box-sizing: 100%;
    width: 100%;
    display: flex;
    flex-direction:row     !important; 
    align-items: center  !important;
    gap: 4px; 

    
}
.item{
    width: 300px !important;
    margin: 10px;
   
   
    
   
}




/* buscador */
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador{
    margin: 20px;
    width: 40%;
    display: block;
    margin-left: 33%;
    
}
.buscador form{
    display: block;
    
    margin: 20px;
   

}
.buscador form input{
    width: 80%;
    background-color: #5b5458;
    padding: 10px;
    border-radius: 10px;
    border:none;
    color: white;
    height: 35px;

}
.buscador form button{
    color: white;
    background-color: #696265;
    padding: 10px;
    border-radius: 10px;
    border:none;
    height: 35px;
}

.resultados{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 5px;
    

}

.resultadosr{
    color: whitesmoke;
}

.img-resultado{
    width: 50%;
    border-radius: 5px;
    
}

/* spinner */
.loader{
    border: 8px solid green;
    border-top: 8px solid gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg);}
}




/* Botones */
.view{
    padding:15px 32px;
    background-color:green;
    border: 2px solid black;
    border-radius: 4px;
    color:#000;    
    }
.botones{
    margin-top: 30px;
    }

.favorito{
    padding:15px 35px;
    background-color: green;
    border: 2px solid black;
    border-radius: 5px ;
    
}
    
/* favoritos */
.fav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 5px;
}
.img-fa{
    width: 50%;
    border-radius: 5px;
}

/* Titulo como separadores*/

.separadores{
    display:flex;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    font-size: 30px;
    background-color:#4CAF50;
    
    
   
   
    
}
.titulo{
    border-bottom: double 3px grey;
    color:whitesmoke; 
    
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 0 0 0 !important;
          
    }

 

/* OTROS */

.titulofuturo{border-bottom: double 3px grey;
    color:whitesmoke; 
    cursor: pointer;
}

.img-banner{
    width: 80%;
    display: block;
    margin: auto;
}
.img-ambos{
    width: 100%;
    transition: 1.4s;
    
    
    border-radius: 7px;
    

}
/* Agregado de detail */
.detalle{display: grid;
    grid-template-columns: 1fr;
}
.imgdetail{
    padding: 5%
}
.info{display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    padding: 2%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace; 
}



/* footer */
footer{ 
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100%;
    box-sizing: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.nombres {  
    display: flex;
    margin: 0;
    padding: 0;
}
.nombres li  { 
    margin: 5px;
    padding: 3px 20px;
    border-right: 2px solid white;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;        
}

.nombres li a{ 
    text-decoration: none;
    color: white;
    transition: background-color .5s;
}
.nombres li:last-child{
    border-right: none;
}
.nombres li a:hover { 
    background-color: rgb(125, 0, 0);
    text-transform: capitalize;
}
.logo-movie{
    margin-right: 10px;
    width: 100px;

}

.social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}







/* Responsive design */

@media(min-width:420px){
.contenidos{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width:768px){
.contenidos{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
 
    }

.active{display: none!important;}
#myLinks{
    display:flex!important;
    justify-content: space-around!important;
    align-items: center;
    height: 100%;
}

.topnav{
    height: 100%;
}
.icon{display:none!important;}
}

@media(min-width:1024px){
.formulario section{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario__mensaje{
    margin-top: 53px;
}  
.formulario__grupo-btn-enviar {
    grid-column: 1;
}    
.formulario__btn {
    width: 31%;
    margin-top: 58px;
}
.active{display: none!important;}
#myLinks{
    display:flex!important;
    justify-content: space-around!important;
    align-items: center;
    height: 100%;
}
.topnav{
    height: 100%;
}
.icon{display:none!important;}     
footer{color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    margin: 20px;
    margin-right: 15px;
    box-sizing: 100%;
    }
.listasfinal{display: flex;
        flex-direction: column;
    }
.social-links{
    display: flex;
    /* flex-direction: column; */
}
.contenidos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
 
    }
.detalle{display: grid;
        grid-template-columns: 1fr 2fr;
    }
 
  }  
     