/* General */
body{
    background: black;
}
/* Menu */
.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* navegador */

nav{display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;

}

.menu{text-decoration: double;
    color: whitesmoke;
    font-size: 30px; 
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding: 0%;
    margin-left: 220px;
    margin-bottom: 20px;
}
li{margin-left: 20px;
font-size: 23px;
color: white;}

ul{    color:whitesmoke;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0%;
}
a{
    color: seashell;
    text-decoration: none;  
}


/* contenido */

.peli{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.pelicula{
    border: 2px solid gray;
}

.series{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

.serie{
    border: 2px solid gray;
}
.generos{display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    color: whitesmoke;
    align-items: center;  
}
.distintos{display: flex;
    align-items: center;  
    justify-content: center;
    color: white;
    width: 121px;
    height: 163px;
}
/* Footer */
footer{color: whitesmoke;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
display: flex;
flex-direction: row;
justify-content: space-between;
justify-items: center;
margin-top: 40px;
}
.farticulos{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    display: grid;
    border:1px solid rgb(168, 39, 39);
    
}
/* OTROS */

header{color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    font-size: 30px;
}

.gen{color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content:left;
    font-size: 30px;

}
.titulo{border-bottom: double 3px grey;
    
}
.img-serie{
    width: 100%;
}    
.img-pelicula{
    width: 100%;
}

.img-banner{
       width: 80%;
       display: block;
       margin: auto;
   }
   /* agregado de detail */
.detalle{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
h1{
    color: lightyellow;
    border-bottom: double 3px grey;
}
p{
    color: white;
    text-align: left;
    padding: 2%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.parrafo{
  color: white;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.info{
    color: white;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.imgdetail{
    padding: 5%
}
/* Responsive design */

@media(min-width:320px){
.series{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);
    }
.peli{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);
    }
}
@media(min-width:768px){
.series{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);
    }
.peli{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);
    }
}
@media(min-width:1028px){
.series{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);
   }
.peli{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    border-bottom: solid 3px rgb(255, 253, 253);
    border-right: solid 3px rgb(255, 253, 253);
    border-left: solid 3px rgb(255, 253, 253);
   }
}


.generoterror{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.terror{
    border: 2px solid gray;
}
.generocomedia{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    }
    .comedia{
        border: 2px solid gray;
    }
    .img-terror{
        width: 100%;
    }    
    .img-comedia{
        width: 100%;
    }
    .titulossimilares{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        }
        .similar{
            border: 2px solid gray;
             }    
             .img-similar{
                 width: 100%;
             }
            