
body{
    background: black;
}
header{color: whitesmoke;

}
.peli{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.serie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding: 0%;
}
ol{text-decoration: double;
    color:whitesmoke;
}
h2.menu{text-decoration: double;
    color: whitesmoke
}