body{
    background: black;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

h2.menu{
    text-decoration: double;
    color: whitesmoke;
    font-size: 36px; 
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding: 0%;
    margin-left: 220px;
    margin-bottom: 20px;
}
li{
    margin-left: 20px;
    font-size: 23px;
}

ul{    
    color:whitesmoke;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0%;
}

.detalle{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1{
    color: red;
    font-family: fantasy;
}

p{
    color: white;
    text-align: left;
    padding: 2%;
    font-size: 16px;
    font-family: cursive;
}
.info{
    color: white;
    font-size: 10px;
    font-family: cursive;
}

